.header_review__person {
  display: flex;
  align-items: center;
}

.person_img {
  margin-right: 10px !important;
  vertical-align: middle;
}

.person_name > h5 {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #1d213a;
}

.person_name > p {
  font-size: 13px;
  line-height: 15px;
  color: #696969;
}

.header_review__rating {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.header_review__rating > span {
  font-size: 14px;
  line-height: 16px;
  color: #696969;
  margin-top: 0px;
  margin-left: 10px;
}
