.viget-review-second .vr-wrapper .owl-carousel .owl-dots {
  bottom: -35px;
}

.viget-review-second .owl-carousel .owl-dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.viget-review-second .vr-wrapper .owl-carousel .owl-dots {
  bottom: -35px;
}

.viget-review-second .vr-wrapper .owl-carousel .owl-dots {
  display: block !important;
}

.viget-review-second .owl-carousel .owl-dots .owl-dot {
  background: #d9ddea;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  margin: 0px 5px;
  transition: all 0.3s;
}

.viget-review-second .owl-carousel .owl-dots .owl-dot.active {
  background: #1d213a;
  width: 22px;
  height: 22px;
  transition: all 0.3s;
}

.viget-review-second .vr-wrapper .owl-carousel .owl-dots .owl-dot {
  background: #d9ddea;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0px 2px;
  transition: all 0.3s;
}

.viget-review-second .vr-wrapper .owl-carousel .owl-dots .owl-dot.active {
  background: #4e7fce;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 2px;
  transition: all 0.3s;
}

.review-shop__item {
  text-align: left;
  width: 90%;
}

.viget-review-second .owl-item > div {
  cursor: pointer;
  margin: 84px 0%;
  transition: margin 0.4s ease;
}

.viget-review-second .vr-wrapper .owl-item > div {
  cursor: pointer;
  margin: 20px 0px;
}

.viget-review-second .owl-carousel.owl-drag .owl-item {
  z-index: -1 !important;
}

.review-shop .item-top {
  margin-bottom: 20px;
  width: 100%;
}

.review-shop .header-review__person {
  display: flex;
  align-items: center;
}

.review-shop .header-review__person .person-img {
  margin-right: 10px;
  max-width: 60px;
}

.review-shop .header-review__person .person-name h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #1d213a;
  margin: 0;
}

.review-shop .header-review__person .person-name p {
  font-size: 13px;
  line-height: 15px;
  color: #696969;
}

.review-shop .rating-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.review-shop .rating-header__stars {
  display: flex;
  margin-right: 15px;
}

.review-shop .rating-header span {
  font-size: 14px;
  line-height: 16px;
  color: #696969;
  font-weight: 400;
  margin-top: 3px;
}

.review-shop .full-review {
  margin-top: 20px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #1d213a;
}

@media screen and (max-width: 768px) {
  .viget-review-second .owl-item > div {
    margin: 84px -60px;
  }
}

@media screen and (max-width: 500px) {
  .viget-review-second .owl-item > div {
    margin: 84px 40px;
  }
}

@media screen and (max-width: 768px) {
  .viget-review-second .owl-carousel .owl-dots .owl-dot {
    width: 13px;
    height: 13px;
  }
}

@media screen and (max-width: 768px) {
  .viget-review-second .owl-carousel .owl-dots .owl-dot.active {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 768px) {
  .viget-review-second .owl-carousel .owl-dots {
    position: relative;
    transform: unset;
    margin-top: -40px;
    left: 0px;
  }
}
